@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

:root {
  --color-primary: #1E40AF;


}

.active hr{
 @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

@media (max-width: 740px) {
    .active {
      @apply text-white bg-blue-800
    }
}


